<div id="<%= dom_id @wikipage %>" class="entry clearing">
  <div class="content">
    <h2><%= @wikipage.title %></h2>
    <%= wikify @wikipage.body %>
  </div>
  <div class="wiki meta">
    <%= wiki_edit_links(@wikipage, :prepend => link_to('all pages', wikipages_path)) %>
    <p>
      revision: <%= @wikipage.version %>
      last updated: <%= @wikipage.updated_at.to_s(:long) %>
      by: <%= @wikipage.author_link %>
      <%= links_to_content_categories(@wikipage, 'in: %s') %>
      <%= links_to_content_tags(@wikipage, 'tagged: %s') %>
    </p>
  </div>
</div>

<%= render :partial => 'comments/list', :locals => {:commentable => @wikipage, :comments => @wikipage.approved_comments} %>
<% if @wikipage.accept_comments? %>
  <%= render :partial => 'comments/form', :locals => {:commentable => @wikipage} %>
<% end %>

<%= render :partial => 'footer' %>

<% content_for :sidebar do %>
  <h4>All Wikipages</h4>
  <%= @section.wikipages.each do |content| %>
    <%= link_to_content content %><br>
  <% end %>
<% end %>
